@font-face {
    font-family: Norse-Bold;
    src: url(../fonts/Norse-Bold.otf);
}
h1 {
    font-family: Norse-Bold, sans-serif;
}
body{
    margin: 0;
    padding:0;

    

}

.main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    
}

.left{
    background-image: url(./images/piermanuele-sberni-lcgM_NT1huI-unsplash.jpg);
     width: 40vw;
     background-repeat: no-repeat;
     background-size: cover;
    color: white;
    font-family: Norse-Boldm, sans-serif;

    


}





.right{
   display: flex;
    flex-direction: column;
    background-color: bisque;
    width: 60vw;
    
}  
.first{
    height: 33vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 5%;
    margin-bottom: 5%;
}  
.second{
    background-color: white;
    height: 30vh;
}
.third{
    height: 30vh;
}